@import url(nav.css);

body {
    font-family:"Liberation Sans", sans-serif;
    text-align:justify
}

h1 {
    font-weight:normal
}

#doc-title {
    font-family:"Latin Modern Roman", "Linux Libertine 0", Calibri, sans-serif;
    text-align:center;
    font-size:3em;
    color:#A50;
    margin:0
}

#doc-author {
    text-align:center;
    color:#B72;
    font-style:italic;
    font-size:1.3em
}

ol {
    margin-left:2em
}

.whata a {
    font-weight:normal
}